---
layout: layout.njk
---

<div class="">
  {%- for component in collections.componentsAlpha -%}

    <div class="mb-6">
      <h3 class="text-blue-800 text-3xl font-nunito_bold pb-4">
        {{ component.data.title }}
      </h3>
      <a href="{{ component.url }}" class="hover:text-blue-500">
        {{component.templateContent | safe }}
      </a>
    </div>

  {%- endfor -%}
</div>
