---
layout: layout.njk
---

<div class="lg:flex flex-wrap flex-col text-lg font-nunito_regular lg:h-64">
  {%- for component in collections.componentsAlpha -%}

    <div class="lg:w-1/3 lg:px-4 mb-2">
      <a href="{{ component.url }}" class="hover:text-blue-500">
        {{ component.data.title }}
      </a>
    </div>

  {%- endfor -%}
</div>
