<header class="bg-gray-50 pt-8 lg:pt-2 pb-2">
  <div class="flex flex-col lg:flex-row w-full lg:justify-between lg:px-32 py-3">

    <div class="flex lg:justify-start pb-4 lg:pb-0">
      <a href="/" class="flex flex-col lg:flex-row w-full text-center lg:text-left">
        <h1 class="self-center font-nunito_bold text-3xl text-blue-900  hover:text-blue-500 no-underline">
          Tailwind Patterns
        </h1>
      </a>
    </div>

    <div class="flex flex-col lg:flex-row lg:justify-end text-lg font-nunito_light lg:text-xl leading-none pb-8 lg:pb-0">
      <a href="/all" class="text-blue-900 hover:text-blue-500 self-center no-underline px-2 py-2">
        All
      </a>
      <a href="https://tailwindcss.com" class="text-blue-900 hover:text-blue-500 self-center no-underline px-2 py-2">
        Tailwind CSS
      </a>
      <a href="https://nerdcave.com/tailwind-cheat-sheet" class="text-blue-900 hover:text-blue-500 self-center no-underline px-2 py-2">
        Tailwind Cheat Sheet
      </a>
      <a href="https://yoksel.github.io/flex-cheatsheet/" class="text-blue-900 hover:text-blue-500 self-center no-underline px-2 py-2">
        Flex Cheat Sheet
      </a>
      <a href="https://philipwalton.github.io/solved-by-flexbox/" class="text-blue-900 hover:text-blue-500 self-center no-underline px-2 py-2">
        Solved by Flexbox
      </a>
      <a href="https://csslayout.io/" class="text-blue-900 hover:text-blue-500 self-center no-underline px-2 py-2">
        CSS Layout
      </a>
    </div>
  </div>
</header>
